<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>seller</title>
</head>
<body>

<button onclick="goodsList()" type="button">展示</button>
<div id="goods">
    <table>
        <tr>
            <th>id</th>
            <th>标题</th>
            <th>价格</th>
            <th>库存</th>
            <th>图片</th>
            <th>描述</th>
            <th>状态</th>
            <th>分类</th>
        </tr>
    </table>
</div>

</body>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script>
    goodsList = function () {
        $.ajax({
            url:"http://127.0.0.1:8502/seller/goods/list",
            type:"post",
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success:function (data) {
                var goods = data.goodsList;
                var html = "";
                for (var i = 0; i < goods.length; i++) {
                    html += "<tr>";
                    html += "<td>" + goods[i].goodsId + "</td>";
                    html += "<td>" + goods[i].title + "</td>";
                    html += "<td>" + goods[i].price + "</td>";
                    html += "<td>" + goods[i].stock + "</td>";
                    // html += "<td>"  + goods[i].images + "</td>";
                    //ajax请求图片 base64
                    $.ajax({
                        url:"http://127.0.0.1:9527/seller/goods/getImg",
                        type:"post",
                        data:{"path":goods[i].images},
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        success:function (data) {
                            html += "<td><img src='data:image/png;base64," + data + "'/></td>";
                        }
                    });
                    html += "<td>" + goods[i].introduce + "</td>";
                    html += "<td>" + goods[i].status + "</td>";
                    html += "<td>" + goods[i].typeId + "</td>";
                    html += "</tr>";
                }
                $("#goods").append(html);
            }
        })
    };
</script>
</html>